.label-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.item-label {
  border: 1px solid #000;
  padding: 20px;
  width: 300px;
}

.nutrition-facts {
  margin-top: 10px;
}

.nutrition-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.nutrition-item span {
  font-size: 14px;
}

.serving, .calories {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-weight: bold;
}

.item-label h2, .item-label h3 {
  margin: 0;
  padding: 0;
}

.item-label h3 {
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.nutrition-item button {
  border: none;
  background: none;
  color: blue;
  cursor: pointer;
  font-size: 14px;
  padding: 0;
}

.date {
  margin-top: 10px;
  font-size: small;
  font-style: italic;
  color: #666;
}
